[accounts.iCloud]
default = true
email = "{{ .personal.email }}"
display-name = "{{ .name }}"
downloads-dir = "~/Downloads"
backend.type = "imap"
backend.host = "imap.mail.me.com"
backend.port = 993
backend.login = "{{ .personal.email }}"
backend.encryption.type = "tls"
backend.auth.type = "password"
backend.auth.command = '{{ .personal.himalaya.imap_passwd_cmd }}'
message.send.backend.type = "smtp"
message.send.backend.host = "smtp.mail.me.com"
message.send.backend.port = 587
message.send.backend.login = "{{ .personal.email }}"
message.send.backend.encryption.type = "start-tls"
message.send.backend.auth.type = "password"
message.send.backend.auth.command = '{{ .personal.himalaya.smtp_passwd_cmd }}'
message.delete.style = "folder"
folder.aliases.inbox = "INBOX"
folder.aliases.sent = "Sent Messages"
folder.aliases.drafts = "Drafts"
folder.aliases.trash = "Deleted Messages"

[accounts.work]
email = "jesse@climatepolicyradar.org"

folder.aliases.inbox = "INBOX"
folder.aliases.sent = "[Gmail]/Sent Mail"
folder.aliases.drafts = "[Gmail]/Drafts"
folder.aliases.trash = "[Gmail]/Bin"

backend.type = "imap"
backend.host = "imap.gmail.com"
backend.port = 993
backend.login = "jesse@climatepolicyradar.org"
backend.auth.type = "password"
backend.auth.command = '{{ .work.himalaya.imap_passwd_cmd }}'

message.send.backend.type = "smtp"
message.send.backend.host = "smtp.gmail.com"
message.send.backend.port = 465
message.send.backend.login = "jesse@climatepolicyradar.org"
message.send.backend.auth.type = "password"
message.send.backend.auth.command = '{{ .work.himalaya.smtp_passwd_cmd }}'
