if status is-interactive
  set --universal fish_greeting ""

  {{- if eq .chezmoi.os "darwin" }}
  set -gx HOMEBREW_PREFIX "/opt/homebrew";
  set -gx HOMEBREW_CELLAR "/opt/homebrew/Cellar";
  set -gx HOMEBREW_REPOSITORY "/opt/homebrew";
  set -gx HOMEBREW_SHELLENV_PREFIX "/opt/homebrew";
  set -q PATH; or set PATH ''; set -gx PATH "/opt/homebrew/bin" "/opt/homebrew/sbin" $PATH;
  set -q MANPATH; or set MANPATH ''; set -gx MANPATH "/opt/homebrew/share/man" $MANPATH;
  set -q INFOPATH; or set INFOPATH ''; set -gx INFOPATH "/opt/homebrew/share/info" $INFOPATH;

  export HOMEBREW_NO_ANALYTICS=1
  export HOMEBREW_NO_ENV_HINTS=1
  {{- end }}

  {{- if eq .chezmoi.os "linux" }}
  /home/linuxbrew/.linuxbrew/bin/brew shellenv | source
  {{- end }}

  set -gx EDITOR nvim

  set -U __done_notification_duration 5000 # 5 seconds

  # Bindings -------------------------------------------------------------------

  fish_vi_key_bindings

  # Visual ---------------------------------------------------------------------

  alias wipe='clear && printf "\e[3J"'

  export CLICOLOR=1

  # Applications ---------------------------------------------------------------

  if type -q bat
    abbr --add cat bat
  end

  # https://github.com/gf3/dotfiles/blob/75298b4c801c9228283a6bf6dce42ec251c3a113/.config/fish/config.fish#L9-L13
  # https://github.com/maxmilton/dotfiles/blob/6e8ec6ff576f233d2ab1442dd5d7e1991740cfda/private_dot_config/fish/oneshot-config.fish.tmpl#L142-L144
  if type -q eza
    abbr --add ls eza -l
    alias ll="eza --all --icons=always --long --group-directories-first"
    alias lr="eza --all --icons=always --long --group-directories-first --sort=created"
  end

  alias root='cd (git root)'

  fish_add_path $HOME/.local/bin

  mise activate fish | source

  alias c='chezmoi'

  zoxide init fish | source

  if type -q direnv
    direnv hook fish | source
  end

  atuin init fish | source

  set -gx GO111MODULE on
  set -gx GOBIN $HOME/.local/bin

  alias g='git'

  function __zx
    cd (fd --hidden --no-ignore -d 4 --type d '.git$' ~/src | xargs -I{} dirname {} | sk)
  end

  alias zx __zx

  export EMACS_USER_DIRECTORY=~/.config/emacs

  # https://github.com/akermu/emacs-libvterm#shell-side-configuration
  function vterm_printf;
      if begin; [  -n "$TMUX" ]  ; and  string match -q -r "screen|tmux" "$TERM"; end
          # tell tmux to pass the escape sequences through
          printf "\ePtmux;\e\e]%s\007\e\\" "$argv"
      else if string match -q -- "screen*" "$TERM"
          # GNU screen (screen, screen-256color, screen-256color-bce)
          printf "\eP\e]%s\007\e\\" "$argv"
      else
          printf "\e]%s\e\\" "$argv"
      end
  end

  {{- if eq .chezmoi.os "darwin" }}
  export GPG_TTY=(tty)

  # ShellHistory
  fish_add_path "/Applications/ShellHistory.app/Contents/Helpers"

  if [ ! -n "$__shhist_session" ]
      if [ -n "$TERM_SESSION_ID" ]
          set __shhist_session $TERM_SESSION_ID
      else
          set __shhist_session (random)-$fish_pid
      end
  end

  alias copy='pbcopy'
  alias paste='pbpaste'
  {{- end }}

  {{- if eq .chezmoi.os "linux" }}
  alias h='helm'

  alias hx='helix'

  alias copy='wl-copy'
  alias paste='wl-paste'

  fish_add_path $HOME/.krew/bin

  alias k='kubectl'

  set -x K9S_CONFIG_PATH "$HOME/.config/k9s"

  fish_add_path /var/lib/snapd/snap/bin/

  source /opt/miniconda3/etc/fish/conf.d/conda.fish
  {{- end }}

  # History --------------------------------------------------------------------

  bind \cg forget # Normal mode
  bind -M insert \cg forget # Insert mode

  # Local ----------------------------------------------------------------------

  source ~/.config/fish/secrets.fish

  if test -e ~/config/.fish/local.fish
    source ~/config/fish/local.fish
  end
end
