if status is-interactive
  set --universal fish_greeting ""

  {{- if eq .chezmoi.os "darwin" }}
  set -gx HOMEBREW_PREFIX "/opt/homebrew";
  set -gx HOMEBREW_CELLAR "/opt/homebrew/Cellar";
  set -gx HOMEBREW_REPOSITORY "/opt/homebrew";
  set -gx HOMEBREW_SHELLENV_PREFIX "/opt/homebrew";
  set -q PATH; or set PATH ''; set -gx PATH "/opt/homebrew/bin" "/opt/homebrew/sbin" $PATH;
  set -q MANPATH; or set MANPATH ''; set -gx MANPATH "/opt/homebrew/share/man" $MANPATH;
  set -q INFOPATH; or set INFOPATH ''; set -gx INFOPATH "/opt/homebrew/share/info" $INFOPATH;

  export HOMEBREW_NO_ANALYTICS=1
  export HOMEBREW_NO_ENV_HINTS=1
  {{- end }}

  {{- if eq .chezmoi.os "linux" }}
  /home/linuxbrew/.linuxbrew/bin/brew shellenv | source
  {{- end }}

  set -gx EDITOR nvim

  set -U __done_notification_duration 5000 # 5 seconds

  # Prompt ---------------------------------------------------------------------

  # The default Lean prompt [1], with my change(s).
  #
  # [1] https://github.com/IlanCosman/tide/blob/44c521ab292f0eb659a9e2e1b6f83f5f0595fcbd/functions/tide/configure/configs/lean.fish#L86C1-L87C1
  set --universal tide_right_prompt_items status shlvl private_mode cmd_duration context jobs direnv node python rustc java php pulumi ruby go gcloud kubectl distrobox toolbox terraform aws nix_shell crystal elixir zig time

  # Bindings -------------------------------------------------------------------

  fish_vi_key_bindings

  # Visual ---------------------------------------------------------------------

  alias wipe='clear && printf "\e[3J"'

  export CLICOLOR=1

  # Applications ---------------------------------------------------------------

  if type -q bat
    abbr --add cat bat
  end

  if type -q llm
    set -gx LLM_USER_PATH ~/.config/io.datasette.llm
  end

  if test -d /Applications/LM\ Studio.app/
    # Added by LM Studio CLI (lms)
    set -gx PATH $PATH /Users/jesse/.cache/lm-studio/bin
  end

  # https://github.com/gf3/dotfiles/blob/75298b4c801c9228283a6bf6dce42ec251c3a113/.config/fish/config.fish#L9-L13
  # https://github.com/maxmilton/dotfiles/blob/6e8ec6ff576f233d2ab1442dd5d7e1991740cfda/private_dot_config/fish/oneshot-config.fish.tmpl#L142-L144
  if type -q eza
    abbr --add ls eza -l
    alias ll="eza --all --icons=always --long --group-directories-first"
    alias lr="eza --all --icons=always --long --group-directories-first --sort=created"
  end

  if type -q fd
    alias ff="fd --type d --max-depth 1"
  end

  alias to-dark='kitty +kitten themes --reload-in=all --config-file-name themes.conf Catppuccin-Mocha'
  alias to-light='kitty +kitten themes --reload-in=all --config-file-name themes.conf Catppuccin-Latte'

  alias root='cd (git root)'

  fish_add_path $HOME/.local/bin

  fish_add_path $HOME/.mint/bin

  mise activate fish | source

  alias c='chezmoi'

  zoxide init fish | source

  if type -q direnv
    direnv hook fish | source
  end

  atuin init fish | source

  set -gx GO111MODULE on
  set -gx GOBIN $HOME/.local/bin

  alias g='git'

  source "$HOME/.config/emacs/eat.fish"

  export EMACS_USER_DIRECTORY=~/.config/emacs

  # https://github.com/akermu/emacs-libvterm#shell-side-configuration
  function vterm_printf;
      if begin; [  -n "$TMUX" ]  ; and  string match -q -r "screen|tmux" "$TERM"; end
          # tell tmux to pass the escape sequences through
          printf "\ePtmux;\e\e]%s\007\e\\" "$argv"
      else if string match -q -- "screen*" "$TERM"
          # GNU screen (screen, screen-256color, screen-256color-bce)
          printf "\eP\e]%s\007\e\\" "$argv"
      else
          printf "\e]%s\e\\" "$argv"
      end
  end

  {{- if eq .chezmoi.os "darwin" }}
  export GPG_TTY=(tty)

  # ShellHistory
  fish_add_path "/Applications/ShellHistory.app/Contents/Helpers"

  if [ ! -n "$__shhist_session" ]
      if [ -n "$TERM_SESSION_ID" ]
          set __shhist_session $TERM_SESSION_ID
      else
          set __shhist_session (random)-$fish_pid
      end
  end

  functions --copy fish_prompt fish_prompt_original
  function fish_prompt
      set __shhist_status $status

      if fish_is_root_user
          set __shhist_user $SUDO_USER
      else
          set __shhist_user $LOGNAME
      end

      \history --show-time="%s " -1 | sudo --preserve-env --user $__shhist_user /Applications/ShellHistory.app/Contents/Helpers/shhist insert --session $__shhist_session --username $LOGNAME --hostname (hostname) --exit-code $__shhist_status --shell fish

      fish_prompt_original;
  end

  # If using 1Password plugins, uncomment below:
  # source ~/.config/op/plugins.sh

  alias copy='pbcopy'
  alias paste='pbpaste'
  {{- end }}

  {{- if eq .chezmoi.os "linux" }}
  alias h='helm'

  alias hx='helix'

  alias copy='wl-copy'
  alias paste='wl-paste'

  alias sg='ast-grep'

  fish_add_path $HOME/.krew/bin

  alias k='kubectl'

  set -x K9S_CONFIG_PATH "$HOME/.config/k9s"

  fish_add_path /var/lib/snapd/snap/bin/

  source /opt/miniconda3/etc/fish/conf.d/conda.fish
  {{- end }}

  # History --------------------------------------------------------------------

  bind \cg forget # Normal mode
  bind -M insert \cg forget # Insert mode

  # Local ----------------------------------------------------------------------

  source ~/.config/fish/secrets.fish

  if test -e ~/config/.fish/local.fish
    source ~/config/fish/local.fish
  end
end
