[user]
	name = {{ .name | quote }}
	email = {{ .personal.email | quote }}
	signingkey = {{ .personal.signingkey | quote }}
[github]
	user = jesse-c
[color]
	ui = true
[core]
	editor = nvim
	excludesfile = ~/.config/git/.gitignore
	autocrlf = input
[stash]
	showPatch = true
[merge]
	conflictstyle = zdiff3
[diff]
	colorMoved = default
[fetch]
	prune = true
	prunetags = true
[interactive]
	diffFilter = delta --color-only
[add.interactive]
	useBuiltin = false # required for git 2.37.0
[push]
	default = upstream
	followtags = true
[commit]
	verbose = true
	gpgsign = true
[pager]
	difftool = true
[diff]
	compactionHeuristic = true
	indentHeuristic = on
	tool = difftastic
	external = difft
[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
[difftool "diffsitter"]
	cmd = diffsitter --color on "$LOCAL" "$REMOTE"
[alias]
	dft = difftool
	dlog = "!f() { GIT_EXTERNAL_DIFF=difft git log -p --ext-diff; }; f"
	# Prune local and remote origin
	prune-all = "!git prune && git remote prune origin"
	sync = "!git fetch origin && git rebase origin/$(git remote show origin | sed -n '/HEAD branch/s/.*: //p')"
	root = "rev-parse --show-toplevel"
	bs = "!git checkout $(git branch | sk | cut -c 3-)"
	bd = "!git branch -D $(git branch | sk -m | cut -c 3-)"
	# The aliases below are from https://gist.github.com/robmiller/6018582
	#
	# Get the current branch name (not so useful in itself, but used in
	# other aliases)
	branch-name = "!git rev-parse --abbrev-ref HEAD"
	# Push the current branch to the remote "origin", and set it to track
	# the upstream branch
	publish = "!git push -u origin $(git branch-name)"
	# Delete the remote version of the current branch
	unpublish = "!git push origin :$(git branch-name)"
[ghq]
	root = ~/src
[url "git@github.com:"]
	insteadOf = https://github.com/
[rebase]
	autosquash = true
	autostash = true
{{- if eq .chezmoi.os "darwin" }}
[gpg]
	program = gpg
{{- end }}
{{- if eq .chezmoi.os "linux" }}
[gpg]
	format = ssh
[gpg "ssh"]
	program = /opt/1Password/op-ssh-sign
	allowedSignersFile = ~/.ssh/allowed_signers
{{- end }}
[init]
	defaultBranch = main
[branch]
	sort = -committerdate
[delta]
	navigate = true    # use n and N to move between diff sections
	light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
[log]
	date = iso
[include]
	path = ./local.inc
