[user]
	name = Jesse Claven
	email = jesse.claven@me.com
[github]
	user = jesse-c
[color]
	ui = true
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
	autocrlf = input
	pager = delta --dark
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustexitcode = true
[stash]
	showPatch = true
[merge]
	conflictstyle = diff3
[push]
	default = upstream
[commit]
	verbose = true
	gpgsign = true
[diff]
	compactionHeuristic = true
	indentHeuristic = on
[alias]
	ks = difftool -y -t Kaleidoscope
	st = status
	# Prune local and remote origin
	prune-all = "!git prune && git remote prune origin"
	# The aliases below are from https://gist.github.com/robmiller/6018582
	#
	# Get the current branch name (not so useful in itself, but used in
	# other aliases)
	branch-name = "!git rev-parse --abbrev-ref HEAD"
	# Push the current branch to the remote "origin", and set it to track
	# the upstream branch
	publish = "!git push -u origin $(git branch-name)"
	# Delete the remote version of the current branch
	unpublish = "!git push origin :$(git branch-name)"
	sw = switch
	swc = switch -c
[ghq]
	root = ~/src
[url "git@github.com:"]
	insteadOf = https://github.com/
[rebase]
	autosquash = true
[gpg]
	program = gpg
[init]
	defaultBranch = main
