[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/usr/local/bin/ocr
Name=OCR
Comment=Perform OCR on a region of the output
# Icon=fish
Categories=Utility;
