# Show commit hashes in main view
set main-view    = line-number:no,interval=5 id:yes date:default author:full commit-title:yes,graph,refs,overflow=no

# Allow to amend the last commit
bind status + !git commit --amend

# Fixup to highlighted ID
bind main - !git commit --fixup %(commit)

# Copy commit ID to clipboard
bind main 9 @sh -c "echo %(commit) | {{ .cmd_copy }}"

# Rebase onto current commit
bind main 8 !git rebase -i  %(commit)

# Copy file path to clipboard
bind status 7 @sh -c "echo %(file) | {{ .cmd_copy }}"

bind main 6 @sh -c "git log --oneline --format=%B %(commit) | head -n 1 | {{ .cmd_copy }}"

# Push
bind main p !git push origin

# Push (force)
bind main P !git push --force-with-lease origin

# Absorb
bind main a !git absorb

# Rebase on upstream
bind main o !@sh -c "git fetch origin && git rebase origin/master"

# Reload tigrc
# bind generic x :source ~/.tigrc
