machine api.github.com login {{ .forge_github_username }} password {{ .forge_github_password }}
{{range $user := .openai_username -}}
machine api.openai.com login {{$user}} password {{ $.openai_password }}
{{end -}}
