display-name = "{{ .name }}"

[Personal]
email = "{{ .personal.email }}"
default = true
sync = false

backend = "imap"
imap-host = "imap.mail.me.com"
imap-port = 993
imap-ssl = true
imap-login = "{{ .personal.email }}"
imap-passwd-cmd = "{{ .personal.himalaya.imap_passwd_cmd }}"
imap-notify-cmd = "{{ .personal.himalaya.imap_notify_cmd }}"

sender = "smtp"
smtp-host = "smtp.mail.me.com"
smtp-port = 587
smtp-starttls = true
smtp-login = "{{ .personal.email }}"
smtp-passwd-cmd = "{{ .personal.himalaya.smtp_passwd_cmd }}"

[Personal.folder-aliases]
sent = "Sent Messages"
trash = "Deleted Messages"
