display-name = "{{ .name }}"

[Personal]
email = "{{ .email }}"
default = true
sync = false

backend = "imap"
imap-host = "imap.mail.me.com"
imap-port = 993
imap-ssl = true
imap-login = "{{ .email }}"
imap-passwd-cmd = "{{ .himalya.imap_passwd_cmd }}"
imap-notify-cmd = "{{ .himalya.imap_notify_cmd }}"

sender = "smtp"
smtp-host = "smtp.mail.me.com"
smtp-port = 587
smtp-ssl = true
smtp-login = "{{ .email }}"
smtp-passwd-cmd = "{{ .himalya.smtp_passwd_cmd }}"
