Host *
  AddKeysToAgent yes
  UseKeychain yes
  IdentityFile {{ .identity_file }}
  {{- if and (eq .chezmoi.os "darwin") (stat "/Applications/1Password.app") }}
  IdentityAgent "~/.1password/agent.sock"
  {{- end }}
  PasswordAuthentication no
  ChallengeResponseAuthentication no
  HashKnownHosts yes
{{ if .hosts }}
{{ .hosts }}
{{- end }}
