#!/bin/bash

{{ if lookPath "himalaya" }}

# Himalaya CLI version: {{ output "himalaya" "--version" | trim }}

himalaya completion fish > "$HOME/.config/fish/completions/himalaya.fish"

{{ else }}

echo "himalaya is missing"

{{ end }}
