#!/bin/bash

{{ if lookPath "docker" }}

# Docker version: {{ output "docker" "--version" | trim }}

docker completion fish > "$HOME/.config/fish/completions/docker.fish"

{{ else }}

echo "docker is missing"

{{ end }}
