[presets.pomodoro]
preset = "pomodoro"

tcp.host = "localhost"
tcp.port = 9090

# Hooks: https://pimalaya.org/comodoro/cli/latest/configuration/hooks.html
{{- if eq .chezmoi.os "darwin" }}
hooks.on-work-begin.cmd = "terminal-notifier -sound default -group 'comodoro-notify' -title '🍅 Pomodoro' -message 'Timer started'"
hooks.on-work-end.cmd = "terminal-notifier -sound default -group 'comodoro-notify' -title '🍅 Pomodoro' -message 'Timer finished'; comodoro stop pomodoro tcp"
{{- end }}

{{- if eq .chezmoi.os "linux" }}
hooks.on-work-begin.cmd = "dunstify -h string:x-dunst-stack-tag:pomodoro '🍅 Pomodoro' 'Timer started'"
hooks.on-work-end.cmd = "dunstify -h string:x-dunst-stack-tag:pomodoro '🍅 Pomodoro' 'Timer finished'; comodoro stop pomodoro tcp"
{{- end }}
