{
  "// Note": "This file stores secret API credentials. Do not share!",
  "lm-studio": "{{ .lm_studio }}",
  "claude": "{{ onepasswordRead "op://Personal/Anthropic/aider" }}",
  "deepseek": "{{ onepasswordRead "op://Personal/DeepSeek/aider" }}"
}
