<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.atuin.daemon</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/homebrew/opt/atuin/bin/atuin</string>
		<string>daemon</string>
		<string>start</string>
		<string>--force</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>ThrottleInterval</key>
	<integer>5</integer>
	<key>StandardErrorPath</key>
	<string>/Users/jesse/.local/share/atuin/daemon-launchd.log</string>
	<key>StandardOutPath</key>
	<string>/Users/jesse/.local/share/atuin/daemon-launchd.log</string>
</dict>
</plist>
