[env]
SCHEME = "racket"
NODE_OPTIONS = "--no-deprecation"

[tools]
python = ["3.10", "3.11", "3.12", "3.13", "3.14"]
clojure = "1.12.4.1602"
erlang = "28.3.1"
elixir = "1.19.5-otp-28"
go = "1.25.6"
zig = "0.15.2"
rust = { version = "1.93.0", components = "rust-src,llvm-tools,rust-analyzer" }
racket = "9.0"
node = "25.5.0"
lua = "5.4.7"
luajit = "latest"
ruby = "4.0.1"
php = "8.5.2"
perl = "5.42.2.0"
usage = "2.15.0"
pipx = "latest"
# "github:pimalaya/comodoro" = "latest" # Waiting on stability
# "github:pimalaya/himalaya" = "latest" # Waiting on stability
# "github:pimalaya/mirador" = "latest" # Waiting on refactor from author to fix issue(s) as of 2025-05-02
# "github:pimalaya/neverest" = "latest" # Waiting on refactor from author to fix issue(s) as of 2025-05-02
"github:abhinav/git-spice" = { version = "latest", exe = "git-spice" }
"github:blahgeek/emacs-lsp-booster" = { version = "latest", asset_pattern = "emacs-lsp-booster_*_x86_64-apple-darwin.zip" }
"npm:prettier" = "latest"
"npm:yaml-language-server" = "latest"
"npm:@zed-industries/claude-agent-acp" = "latest"
"npm:@zed-industries/codex-acp" = "latest"
"cargo:https://github.com/cola-io/codex-acp" = "branch:main"
"npm:vscode-langservers-extracted" = "latest"
"npm:@google/gemini-cli" = "latest"
"npm:tavily" = "latest"
"npm:@openai/codex" = "latest"
"npm:typescript-language-server" = "latest"
"npm:typescript" = "latest"
"github:anomalyco/opencode" = { version = "latest", asset_pattern = "opencode-darwin-arm64.zip" }
"npm:tavily-mcp" = "latest"
"npm:neovim" = "latest"
"npm:mcp-remote" = "latest"
"npm:@playwright/mcp" = "latest"
"pipx:uv" = "latest"
"pipx:basedpyright" = "latest"
"pipx:black" = "latest"
"pipx:bpython" = "latest"
"pipx:llm" = "latest"
"pipx:grip" = "latest"
"pipx:neovim-remote" = "latest"
"pipx:pipenv" = "latest"
"pipx:poetry" = "latest"
"pipx:pyright" = "latest"
"pipx:ruff" = "latest"
"pipx:tmuxp" = "latest"
"pipx:ty" = "latest"
"pipx:gallery-dl" = "latest"
"pipx:python-lsp-server" = "latest"
"pipx:pyrefly" = "latest"
"pipx:prefect-mcp" = "0.0.1b9"
"cargo:emacs-lsp-booster" = "latest"
"cargo:codanna" = "latest"
"cargo:ck-search" = "latest"
"cargo:srgn" = "latest"
"github:tamasfe/taplo" = "latest"
"github:blopker/codebook" = "latest"
"github:elixir-lang/expert" = "latest"
"cargo:tealdeer" = "latest"
"github:clojure-lsp/clojure-lsp" = "latest"
"github:yt-dlp/yt-dlp" = "latest"
"github:artempyanykh/marksman" = "latest"
"pipx:httpie" = "latest"
"pipx:proselint" = "latest"
"pipx:semgrep" = "latest"
"pipx:visidata" = "latest"
meson = "latest"
"pipx:cased-kit" = { version = "latest", all = "" }
# sudo mkdir /Library/Java/JavaVirtualMachines/temurin-25.0.2+10.0.LTS.jdk
# sudo ln -s /Users/jesse/.local/share/mise/installs/java/temurin-25.0.2+10.0.LTS/Contents /Library/Java/JavaVirtualMachines/temurin-25.0.2+10.0.LTS.jdk/Contents
java = "temurin-25.0.2+10.0.LTS"
"http:llmster" = { version = "0.0.11-1", url = 'https://llmster.lmstudio.ai/download/{{ "{{" }} version {{ "}}" }}-{{ "{{" }} os(macos="darwin") {{ "}}" }}-{{ "{{" }} arch() {{ "}}" }}.full.tar.gz' }
"pipx:podman-compose" = "latest"
"pipx:snowflake-cli" = "latest"

[settings]
idiomatic_version_file_enable_tools = ["python", "node", "ruby"]
experimental = true
python.uv_venv_auto = false
lockfile = true

[settings.status]
missing_tools = "never"
