{{- if eq .chezmoi.os "darwin" -}}
[env]
SCHEME = "racket"

[tools]
nim = "latest"
python = "latest"
clojure = "latest"
erlang = "latest"
elixir = "latest"
go = "latest"
zig = "latest"
rust = "latest"
racket = "latest"
node = "latest"
lua = "latest"
ocaml = "latest"
ruby = "latest"
haskell = "9.4.8"
php = "latest"
usage = "latest"
"ubi:pimalaya/comodoro" = "latest"
"ubi:pimalaya/himalaya" = "latest"
# "ubi:pimalaya/mirador" = "latest"
# "ubi:pimalaya/neverest" = "latest"
"ubi:abhinav/git-spice" = { version = "latest", exe = "gs" }
{{- end }}

{{- if eq .chezmoi.os "linux" }}
[tools]
rust = "latest"
rust-analyzer = "latest"
python = "latest"
go = "latest"
lua = "latest"
node = "latest"
ruby = "latest"
erlang = "latest"
elixir = "latest"
kotlin = "latest"
usage = "latest"
{{- end }}
